{% extends "base.html" %}

{% block content %}
<div class="body-container">
    <h2>Senior Week Event Bidding</h2>
    <div style="text-align: center;" class="intro">
        Alright, here we go again! 
        Round 2 bidding is open until <i>May 16th 11:59pm</i>.
        <br/>
        <b>Feel free to resubmit as many times as you'd like, we will use your most recent submission.</b>
        <br/>
        <br/>
        For complete information on the events, please visit: <a href="https://engage.mit.edu/mitseniorweek2025/events/">https://engage.mit.edu/mitseniorweek2025/events/</a>.
    </div>
    {% if error_message %}<p style="color:red"><strong>{{ error_message }}</strong></p>{% endif %}
    {% if submit_message %}<p style="color:green"><strong>{{ submit_message }}</strong></p>{% endif %}
    
    <hr/>

    <div class="bidding-instructions">
        <div>
            This year, we've implemented a bidding system to ensure everyone gets a fair shot at all events.
        </div>
        <br/>
        <div>
            For Round 2, the remaining 25% of tickets for each event as well as any unpurchased tickets will be given out in the same manner as Round 1.
            Any points spent on unsuccessful bids or beyond the points cutoff during Round 1 have been refunded – you can see your remaining points below. 
            You will have at least 48 hours after Round 2 ticketing opens to purchase your tickets. 
        </div>
        <br/>
        <div>
            <b>Note that listed event capacities are not perfectly up to date with unpurchased tickets and, therefore, the actual number of remaining tickets may be slightly higher/lower than the listed capacity.</b>
        </div>
        <br/>
        <div>
            Check out our full bidding instructions here: <a href="https://shorturl.at/rMczu">https://shorturl.at/rMczu</a>.
            Please enter the number of points you'd like to bid on each event below.
        </div>
    </div>

    <div class="remaining-points" style="display: flex;">
        <label for="points-total-value" id="points-total-label">Remaining Points: </label>
        <span id="points-total-value" style="margin-left: 5px;">{{ remaining_points }}</span>
    </div>

    <form action="{% url 'lottery_submit' %}" method="post">
        {% csrf_token %}
        {% for event in events_list %}
            {% if event.biddable %}
                {% if event.id == 14 %}
                <div >
                    We still have some available capacity for Skydiving so if you'd like to wager points towards unclaimed tickets and/or being on the waitlist, please enter your bids below. 
                    We're also working to expand capacity on Days 1,2, & 4 but we unfortunately do not have more information for you all at this time.
                </div>
                {% endif %}
                <div class="event">
                    <div class="event-header">
                      <span class="event-title">{{ event.name }}</span>
                      <span style="float: right;" class="accordion-icon">+</span>
                    </div>
                    <div class="event-content">
                        <hr/>
                        <div>Date: {{ event.date }} </div>
                        {% if event.time %} <div>Time: {{ event.time }}</div> {% endif %}
                        {% if event.location %}<div>Location: {{ event.location }}</div>{% endif %}
                        <div>Price: ${{ event.price }}</div>
                        <div>Approx. Remaining Capacity: {{ event.capacity }}</div>
                        {% if event.extra_info %}<div>{{ event.extra_info|urlize }}</div>{% endif %}

                        {% if event.accepted %}
                        <input type="number" name="{{ event.name }}" id="{{ event.name }}" class="lottery-input" min="0" max="1000" placeholder="You already got this event in Round 1!" disabled/>
                        {% elif event.wagered_points != -1 %}
                        <input type="number" name="{{ event.name }}" id="{{ event.name }}" class="lottery-input" min="0" max="1000" placeholder="{{ event.wagered_points }}"/>
                        {% else %}
                        <input type="number" name="{{ event.name }}" id="{{ event.name }}" class="lottery-input" min="0" max="1000" placeholder=""/>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <hr/>

        <div class="non-biddable-info">
            The following events are STILL FREE - JUST SHOW UP! Feel free to let us know if you're planning on attending!
        </div>

        <div>
            {% for event in events_list %}
                {% if not event.biddable %}
                    <div class="event">
                        <div class="event-header">
                          <span class="event-title">{{ event.name }}</span>
                          <!-- Optionally add an icon here -->
                          <span style="float: right;" class="accordion-icon">+</span>
                        </div>
                        <div class="event-content">
                            <hr/>
                            <div>Date: {{ event.date }} </div>
                            {% if event.time %} <div>Time: {{ event.time }}</div> {% endif %}
                            {% if event.location %}<div>Location: {{ event.location }}</div>{% endif %}
                            {% if event.price %}<div>Price: ${{ event.price }}</div>{% endif %}
                            {% if event.capacity %}<div>Capacity: {{ event.capacity }}</div>{% endif %}
                            {% if event.extra_info %}<div>{{ event.extra_info }}</div>{% endif %}
                            <div class="event-attendance">
                                <hr/>
                                <div>RSVP?</div>
                                <label for="{{ event.name }}-yes"><input type="radio" id="{{ event.name }}-yes" name="{{ event.name }}" value="yes">Yes</label>
                                <label for="{{ event.name }}-no"><input type="radio" id="{{ event.name }}-no" name="{{ event.name }}" value="no">No</label>
                                <label for="{{ event.name }}-maybe"><input type="radio" id="{{ event.name }}-maybe" name="{{ event.name }}" value="maybe">Maybe</label>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <input type="submit" value="Submit" />
    </form>
</div>

<script>
function updateSum() {
    const remainingPoints = JSON.parse('{{ remaining_points }}');
    let sum = 0;
    document.querySelectorAll('.lottery-input').forEach(input => {
        sum += Number(input.value) || 0;
    });

    const totalValueElement = document.getElementById('points-total-value');
    const totalLabelElement = document.getElementById('points-total-label');
    totalValueElement.textContent = remainingPoints - sum;
    if (sum > remainingPoints) {
      totalValueElement.style.color = 'red';
      totalLabelElement.style.color = 'red';
    } else {
        totalValueElement.style.color = 'black';
        totalLabelElement.style.color = 'black';
    }
}
document.querySelectorAll('.lottery-input').forEach(input => {
    input.addEventListener('input', updateSum);
});

document.querySelectorAll('.event').forEach(event => {
  event.addEventListener('click', function(event) {
    if (event.target.tagName === 'INPUT' || event.target.tagName === 'LABEL') {
      return;
    }
    event.currentTarget.classList.toggle('active');
    event.currentTarget.querySelector('.accordion-icon').textContent = event.currentTarget.classList.contains('active') ? '–' : '+';
  });
});
</script>
{% endblock %}
