{% extends "base.html" %}

{% block content %}
<div class="body-container">
    <h2>Senior Week Event Bidding</h2>
    <div class="intro">
        We're looking forward to celebrating Senior Week together! 
        Round 1 bidding is open until <i>May 9th 11:59pm</i>.
        <b>Feel free to resubmit as many times as you'd like, we will use your most recent submission.</b>
        <br/>
        <br/>
        For complete information on the events, please visit: <a href="https://engage.mit.edu/mitseniorweek2025/events/">https://engage.mit.edu/mitseniorweek2025/events/</a>.
    </div>
    {% if error_message %}<p style="color:red"><strong>{{ error_message }}</strong></p>{% endif %}
    {% if submit_message %}<p style="color:green"><strong>{{ submit_message }}</strong></p>{% endif %}
    
    <hr/>

    <div class="bidding-instructions">
        <div>
            This year, we've implemented a bidding system to ensure everyone gets a fair shot at all events.
        </div>
        <br/>
        <div>
            You can bid up to 1000 points across all events. 
            At the end of the first round, 75% of the tickets for each event will be given to those with the highest bids.
            You will have until 5/12 to purchase a ticket, otherwise it will be returned to the pool for round 2. 
            Points are refunded at the end of Round 1 for bids that were unsuccessful as well as bids that spent more points than neccessary to get a ticket (e.g. if you bid 1000 points but only needed to bid 400 to get a ticket, you will get 600 points back). 
            On 5/12, a second round will open in which the remaining tickets will be given to those with the highest bids.
        </div>
        <br/>
        <div>
            Please note that for skydiving only, all tickets will be sold during the first round in order to accomodate our vendor's timeline.
        </div>
        <br/>
        <div>
            Full instructions for the bidding process can be found here: <a href="https://shorturl.at/rMczu">https://shorturl.at/rMczu</a>.
            As part of the bidding process, please list the number of points you'd like to bid on each event. You may bid up to 1000 points total. 
        </div>
    </div>

    <form action="{% url 'lottery_submit' %}" method="post">
        {% csrf_token %}
        {% for event in events_list %}
            {% if event.biddable %}
                <div class="event">
                    <div class="event-header">
                      <span class="event-title">{{ event.name }}</span>
                      <!-- Optionally add an icon here -->
                      <span style="float: right;" class="accordion-icon">+</span>
                    </div>
                    <div class="event-content">
                        <hr/>
                        <div>Date: {{ event.date }} </div>
                        {% if event.time %} <div>Time: {{ event.time }}</div> {% endif %}
                        {% if event.location %}<div>Location: {{ event.location }}</div>{% endif %}
                        {% if event.price %}<div>Price: ${{ event.price }}</div>{% endif %}
                        {% if event.capacity %}<div>Capacity: {{ event.capacity }}</div>{% endif %}
                        {% if event.extra_info %}<div>{{ event.extra_info }}</div>{% endif %}
                        <input type="number" name="{{ event.name }}" id="{{ event.name }}" class="lottery-input" min="0" max="1000" placeholder=""/>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="remaining-points" style="display: flex;">
            <label for="points-total-value" id="points-total-label">Remaining Points: </label>
            <span id="points-total-value" style="margin-left: 5px;">1000</span>
        </div>

        <hr/>

        <div class="non-biddable-info">
            The following events are all FREE - JUST SHOW UP! For planning purposes, though, feel free to let us know if you're planning on attending.
        </div>

        <div>
            {% for event in events_list %}
                {% if not event.biddable %}
                    <div class="event">
                        <div class="event-header">
                          <span class="event-title">{{ event.name }}</span>
                          <!-- Optionally add an icon here -->
                          <span style="float: right;" class="accordion-icon">+</span>
                        </div>
                        <div class="event-content">
                            <hr/>
                            <div>Date: {{ event.date }} </div>
                            {% if event.time %} <div>Time: {{ event.time }}</div> {% endif %}
                            {% if event.location %}<div>Location: {{ event.location }}</div>{% endif %}
                            {% if event.price %}<div>Price: ${{ event.price }}</div>{% endif %}
                            {% if event.capacity %}<div>Capacity: {{ event.capacity }}</div>{% endif %}
                            {% if event.extra_info %}<div>{{ event.extra_info }}</div>{% endif %}
                            <div class="event-attendance">
                                <hr/>
                                <div>RSVP?</div>
                                <label for="{{ event.name }}-yes"><input type="radio" id="{{ event.name }}-yes" name="{{ event.name }}" value="yes">Yes</label>
                                <label for="{{ event.name }}-no"><input type="radio" id="{{ event.name }}-no" name="{{ event.name }}" value="no">No</label>
                                <label for="{{ event.name }}-maybe"><input type="radio" id="{{ event.name }}-maybe" name="{{ event.name }}" value="maybe">Maybe</label>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <input type="submit" value="Submit" />
    </form>
</div>

<script>
function updateSum() {
    let sum = 0;
    document.querySelectorAll('.lottery-input').forEach(input => {
        sum += Number(input.value) || 0;
    });

    const totalValueElement = document.getElementById('points-total-value');
    const totalLabelElement = document.getElementById('points-total-label');
    totalValueElement.textContent = 1000 - sum;
    if (sum > 1000) {
      totalValueElement.style.color = 'red';
      totalLabelElement.style.color = 'red';
    } else {
        totalValueElement.style.color = 'black';
        totalLabelElement.style.color = 'black';
    }
}
document.querySelectorAll('.lottery-input').forEach(input => {
    input.addEventListener('input', updateSum);
});

document.querySelectorAll('.event').forEach(event => {
  event.addEventListener('click', function(event) {
    if (event.target.tagName === 'INPUT' || event.target.tagName === 'LABEL') {
      return;
    }
    event.currentTarget.classList.toggle('active');
    event.currentTarget.querySelector('.accordion-icon').textContent = event.currentTarget.classList.contains('active') ? '–' : '+';
  });
});
</script>
{% endblock %}
